# dependencies
node_modules

# next
.next
out

# env
.env
.env.local
.env.*.local

# misc
*.log
*.DS_Store

# firebase generated / experimental
.firebase
dataconnect/
src/dataconnect-generated/
functions/
studio1/
